@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Ionicons';
  src: url('/montico-farm-pro/fonts/Ionicons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
