@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Ionicons';
  src: url('/montico-farm-pro/assets/node_modules/@expo/vector-icons/build/vendor/react-native-vector-icons/Fonts/Ionicons.b4eb097d35f44ed943676fd56f6bdc51.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
